.About {
	color: gray;
	background-color: #010101;
	padding-bottom: 5em;
}

.about-header,
.cv-link {
	color: #36c17c;
}

.about-header {
	position: relative;
	overflow: hidden;
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
}

.about-description > p {
	line-height: 1.7;
	font-size: 16px;
	color: #949e99;
}

.about-header::after {
	display: inline-block;
	content: '';
	height: 1px;
	background-color: gray;
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: 1px;
	margin-left: 10px;
}

.about-description,
.cv-link {
	font-family: Roboto, sans-serif;
}

.cv-link {
	font-size: 15px;
}
