.About {
	color: gray;
	background-color: #010101;
}

.about-header,
.cv-link {
	color: #36c17c;
}

.about-header {
	position: relative;
	overflow: hidden;
	font-size: 1.12em;
}

.about-description > p {
	line-height: 1.7;
	color: #949e99;
}

.about-header::after {
	display: inline-block;
	content: '';
	height: 1px;
	background-color: gray;
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: 1px;
	margin-left: 10px;
}
