.Contact {
	background-color: #010101;
	color: white;
	padding-bottom: 17em;
}

.contact-header,
.contact-detail {
	color: #36c17c;
}

.contact-header {
	position: relative;
	overflow: hidden;
	font-size: 1.12em;
}

.contact-details h3 {
	color: #effff7;
}

.contact-details p {
	color: #949e99;
}

.contact-detail {
	margin-left: 1.5em;
}

.contact-header::after {
	display: inline-block;
	content: '';
	height: 1px;
	width: 100%;
	background-color: gray;
	position: absolute;
	top: 50%;
	margin-top: 1px;
	margin-left: 10px;
}
