.Contact {
	background-color: #010101;
	color: white;
	padding-bottom: 17em;
}

.contact-header,
.contact-detail {
	color: #36c17c;
}

.contact-header {
	position: relative;
	overflow: hidden;
	font-size: 18px;
}

.contact-details h3,
.contact-details p,
.contact-header {
	font-family: 'Libre Baskerville', serif;
}
.contact-details h3 {
	color: #effff7;
	font-size: 24px;
}

.contact-details p {
	color: #949e99;
	font-size: 13px;
}

.contact-detail {
	font-family: Roboto, sans-serif;
	margin-left: 1.5em;
	font-size: 15px;
}

.contact-header::after {
	display: inline-block;
	content: '';
	height: 1px;
	width: 100%;
	background-color: gray;
	position: absolute;
	top: 50%;
	margin-top: 1px;
	margin-left: 10px;
}
