.Nav {
	background-color: #000000;
}

.nav-links,
.nav-brand {
	font-family: 'Libre Baskerville', serif;
}

.hire-text {
	font-family: Roboto, sans-serif;
}

.nav-brand,
.nav-links,
.hire-text {
	font-size: 13px;
	color: #949e99;
}

.nav-brand:hover {
	color: #36c17c;
}
