.Projects {
	color: white;
	background-color: #010101;
	padding-bottom: 5em;
}

.projects-header,
.project-link {
	color: #36c17c;
}

.project-name {
	color: #effff7;
}

.projects-header {
	position: relative;
	overflow: hidden;
	font-size: 1.12em;
}

.project-description {
	color: #949e99;
}

.project-tech {
	color: #757575;
}

.projects-header::after {
	display: inline-block;
	content: '';
	height: 1px;
	background: gray;
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: 1px;
	margin-left: 10px;
}
