.Projects {
	color: white;
	background-color: #010101;
	padding-bottom: 5em;
}

.projects-header,
.project-link {
	color: #36c17c;
}

.project-tech,
.project-description,
.project-link {
	font-family: Roboto, sans-serif;
}

.projects-header,
.project-name {
	font-family: Libre Baskerville, serif;
}

.project-name {
	color: #effff7;
	font-size: 36px;
}

.projects-header {
	position: relative;
	overflow: hidden;
	font-size: 1.1rem;
}

.project-description {
	color: #949e99;
	font-size: 1rem;
}

.project-tech {
	color: #757575;
	font-size: 12px;
}

.project-link {
	font-size: 15px;
}

.projects-header::after {
	display: inline-block;
	content: '';
	height: 1px;
	background: gray;
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: 1px;
	margin-left: 10px;
}
