.led-green {
	display: inline-block;
	margin: 0 4px 3px 0px;
	width: 6px;
	height: 6px;
	background-color: #26da80;
	border-radius: 50%;
	/* box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
		#89ff00 0 2px 12px; */
}
