.led-green {
	display: inline-block;
	margin: 0 4px 3px 0px;
	width: 6px;
	height: 6px;
	background-color: #26da80;
	border-radius: 50%;
}

.Footer {
	background-color: #effff7;
	color: black;
}

.project-link,
.cv-link,
#work-btn {
	position: relative;
}

.arrow-down,
.arrow-up {
	position: absolute;
}

.arrow-down {
	top: -3px;
	left: 110px;
	transition: top 0.3s ease-in;
}

.project-link .arrow-up {
	left: 100px;
}

.cv-link .arrow-up {
	left: 80px;
}

.arrow-up {
	bottom: 3px;
	transition: bottom 0.3s ease-in, left 0.3s ease-in;
}

#work-btn:hover > .arrow-down {
	top: 5px;
}

.project-link:hover > .arrow-up {
	bottom: 10px;
	left: 105px;
}

.cv-link:hover > .arrow-up {
	bottom: 10px;
	left: 85px;
}

.project-link:hover,
.cv-link:hover,
#work-btn:hover {
	color: #fff;
}
